<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>logListenApiUrl</key>
	<string>http://moe.fm/ajax/log&amp;log_obj_type=sub&amp;log_type=listen&amp;obj_type=song&amp;api=json</string>
	<key>addFavApiUrl</key>
	<string>http://api.moefou.org/fav/add.json</string>
	<key>deleteFavApiUrl</key>
	<string>http://api.moefou.org/fav/delete.json</string>
	<key>playlistApiUrl</key>
	<string>http://moe.fm/listen/playlist</string>
	<key>apiKey</key>
	<string>5c3b588a4ad990ba5766d605d84b5786052a2028f</string>
	<key>accessUrl</key>
	<string>http://moefm.kroderia.im/api/access</string>
	<key>requestUrl</key>
	<string>http://moefm.kroderia.im/api/request</string>
	<key>getUrl</key>
	<string>http://moefm.kroderia.im/api/get</string>
	<key>ogetUrl</key>
	<string>http://moefm.kroderia.im/api/oauthget</string>
</dict>
</plist>
